<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="../static/css/Style.css" th:href="@{/Style.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="about-container">
    <h1>About</h1>
    <p>Welcome to our forum! This platform is dedicated to sharing interesting facts about the world. Whether you're curious about history, science, culture, or any other topic, you'll find fascinating information here.</p>
    <p>This forum was created by Dimitar and Desislava, who are passionate about learning and sharing knowledge with others. We hope you enjoy your time here and find the content both informative and engaging.</p>
</div>
<footer class="footer">
    <p>&copy; 2024 Forum. All rights reserved.</p>
</footer>
</body>
</html>