<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons/fragments::head(title=${'AdminPortal'})}">
    <title>Admin Portal</title>
</head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="admin-container">
    <h1>Admin Portal</h1>
    <div class="filter-container">
        <form action="#" th:action="@{/admin}" method="get" th:object="${userFilter}">
            <input type="text" id="usernameFilter" placeholder="Filter by Username" th:field="*{username}">
            <input type="text" id="firstNameFilter" placeholder="Filter by First Name" th:field="*{firstName}">
            <input type="text" id="lastNameFilter" placeholder="Filter by Last Name" th:field="*{lastName}">
            <input type="text" id="roleFilter" placeholder="Filter by Role" th:field="*{role}">
            <select id="blockedFilter" th:field="*{isBlocked}" class="filter-input">
                <option value="">All</option>
                <option value="true">Blocked</option>
                <option value="false">Not Blocked</option>
            </select>
            <button type="submit">Apply Filters</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Users</h2>
            <ul>
                <li th:each="user: ${users}">
                    <div class="user-info">
                        <span th:text="'Username: ' + ${user.username}"></span>
                        <p th:text="'FirstName: ' + ${user.firstName}"></p>
                        <p th:text="'LastName: ' + ${user.lastName}"></p>
                        <p th:text="'Email: ' + ${user.email}"></p>
                        <p th:text="'Posts: ' + ${user.getPostsCount()}"></p>
                        <p>Roles:</p>
                        <ul class="roles-list" th:each="role: ${user.getAuthorities()}" th:object="${role}">
                            <li>
                                <span th:text="${role.authority}"></span>
                            </li>
                        </ul>

                        <a class = "button-link" th:href="@{/admin/users/{id}/posts (id=${user.getId()})}">Show User Posts</a>
                    </div>
                    <div class="actions">
                        <a th:if="${!user.isAdmin()}" th:href="@{/admin/users/{id}/grantAdmin(id=${user.id})}">
                            <button>Grant Admin</button>
                        </a>
                        <a th:if="${user.isAdmin()}" th:href="@{/admin/users/{id}/revokeAdmin(id=${user.id})}">
                            <button>Revoke Admin</button>
                        </a>
                        <a th:if="${!user.isBlocked()}" th:href="@{/admin/users/{id}/block(id=${user.id})}">
                            <button>Block</button>
                        </a>
                        <a th:if="${user.isBlocked()}" th:href="@{/admin/users/{id}/unblock(id=${user.id})}">
                            <button>UnBlock</button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<script>-->
<!--    function applyFilters() {-->
<!--        const username = document.getElementById('usernameFilter').value;-->
<!--        const firstName = document.getElementById('firstNameFilter').value;-->
<!--        const lastName = document.getElementById('lastNameFilter').value;-->
<!--        const role = document.getElementById('roleFilter').value;-->
<!--        window.location.href = `/admin?username=${username}&firstName=${firstName}&lastName=${lastName}&role=${role}`;-->
<!--    }-->
<!--</script>-->
</body>
</html>