<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments::head(title=${'Categories'})}"></head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="container">
    <div class="main-content">
        <div class="categories-container">
            <h1>Categories</h1>
            <ul class="categories-list" th:each="category : ${categories}">
                <li>
                    <a th:text="${category.categoryName}"
                       th:href="@{/categories/{id}(id=${category.id})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="~{commons/fragments::footer}">

</footer>
</body>
</html>