<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link href="../static/css/Style.css" th:href="@{/css/Style.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="container">
    <div class="main-content">
        <div class="categories-container">
            <h1 th:text="'Posts for ' + ${category.categoryName}"></h1>

            <ul th:each="post: ${posts}" th:object="${post}">
                <li>
                    <h2><a th:text="*{title}"   th:href="@{/posts/{id}(id=${post.id})}"></a></h2>
                    <p th:text="*{content}"></p>
                    <p><strong>User:</strong> <span th:text="*{getUser().username}"></span></p>
                    <p><strong>Category:</strong> <span th:text="*{category.categoryName}"></span></p>
                    <p><strong>Likes:</strong> <span th:text="*{likesCount}"></span></p>
                    <p><strong>Tags:</strong>
                        <span th:if="${post.tags != null and !post.tags.isEmpty()}" th:each="tag : ${post.tags}" th:text="${tag.getName()} + ' '"></span>
                        <span th:if="${post.tags == null or post.tags.isEmpty()}">No tags</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="~{commons/fragments::footer}">

</footer>
</body>
</html>