<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments::head}">

    <title>Update Post</title>

</head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="post-update-container">
    <h1>Update Post</h1>
    <form th:action="@{/posts/update/{id}(id=${originalPost.id})}" method="post" th:object="${postDTO}">
        <label>
            <span>Title</span>
            <input type="text" th:field="*{title}" required minlength="16" maxlength="64"/>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </label>
        <label>
            <span>Content</span>
            <textarea th:field="*{content}" required minlength="32" maxlength="8192"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        </label>
        <label>
            <span>Category</span>
            <select th:field="*{categoryNumber}" required>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </label>
        <label>
            <span>Tags</span>
            <input type="text" th:field="*{tags}" placeholder="Enter tags separated by commas"/>
        </label>
        <div class="center-button">
            <button class="btn" type="submit">Update Post</button>
        </div>
    </form>
</div>
<footer th:replace="~{commons/fragments::footer}">

</footer>
</body>
</html>