<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link rel="stylesheet" href="/css/Style.css"/>
    <script>
        function toggleForm(formId, actionUrl, placeholderText) {
            var formContainer = document.getElementById(formId);
            if (formContainer.style.display === "none") {
                formContainer.style.display = "block";
                var form = formContainer.querySelector("form");
                form.action = actionUrl;
                var input = form.querySelector("input[name='content']");
                input.placeholder = placeholderText;
            } else {
                formContainer.style.display = "none";
            }
        }
    </script>
</head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="posts-container">
    <h1>Post</h1>
    <ul th:object="${post}">
        <li>
            <h2 th:text="*{title}"></h2>
            <p th:text="*{content}"></p>
            <p><strong>User:</strong> <span th:text="*{user.username}"></span></p>
            <p><strong>Category:</strong> <span th:text="*{category.getCategoryName()}"></span></p>
            <p><strong>Likes:</strong> <span th:text="*{likesCount}"></span></p>
            <p><strong>Tags:</strong> <span th:each="tag : ${post.tags}" th:text="${tag.name} + ' '"></span></p>
            <br/>
            <form class="form-like" th:action="@{/posts/{postId}/likes(postId=${post.id})}" method="post">
                <button class="like_btn" type="submit" th:text="${isLiked != null and isLiked ? 'Unlike' : 'Like'}"></button>
            </form>
            <!-- Edit Button -->
            <a
               th:href="@{/posts/updateForm/{id}(id=${post.id})}" th:if="${post.user} == ${user}">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
<!--            <button class="comment_toggle_btn"> <a th:href="@{/posts/updateForm/{id}(id=${post.id})}"></a>Edit</button>-->
            <!-- Comment Button -->
            <button class="comment_toggle_btn" th:onclick="'toggleForm(\'comment-form\', \'/posts/' + ${post.id} + '/comments\', \'Add a comment...\')'">Add Comment</button>

            <!-- Comment Form -->
            <div id="comment-form" class="form-container" style="display: none;">
                <form class="form-like" id="dynamic-form" method="post" th:action="@{/posts/{postId}/comments(postId=${post.id})}" th:object="${commentDTO}">
                    <input type="text" id="dynamic-input" name="content" placeholder="Add a comment..." th:field="*{content}" required/>
                    <button class="submit_btn" type="submit">Submit</button>
                </form>
            </div>

            <p><strong>Comments:</strong><span th:text="'(' + ${post.getComments().size()} + ')'"></span></p>

            <ul th:each="comment : ${post.getComments()}" th:object="${comment}">
                <li th:text="*{content}"></li>
                <li th:text="*{user.getUsername}"></li>
                <li th:text="*{createdAt}"></li>
                <!-- Reply Button -->
                <button class="reply_toggle_btn" th:onclick="'toggleForm(\'reply-form-' + ${comment.id} + '\', \'/posts/' + ${post.id} + '/comments/' + ${comment.id} + '\', \'Write your reply...\')'">Reply</button>

                <!-- Reply Form -->
                <div th:id="'reply-form-' + ${comment.id}" class="form-container" style="display: none;">
                    <form th:id="'dynamic-form-' + ${comment.id}" method="post" th:action="@{/posts/{postId}/comments/{commentId} (postId=${post.id}, commentId=${comment.id})}">
                        <input type="text" th:id="'dynamic-input-' + ${comment.id}" name="content" placeholder="Write your reply..." required/>
                        <button class="submit_btn" type="submit">Submit</button>
                    </form>
                </div>
            </ul>
        </li>
    </ul>
</div>
<footer th:replace="~{commons/fragments::footer}">

</footer>
</body>
</html>