<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/Style.css" />
</head>
<body>


<header th:replace="~{commons/fragments::nav}"></header>
<div class="cont" th:classappend="${showSignUp} ? 's--signup' : ''">
    <div class="form sign-in">
        <h2>Welcome</h2>
        <form th:action="@{/login}" th:object="${LoginUser}" th:method="post">
            <label>
                <span>Username</span>
                <input type="text" name="username" th:field="*{username}" required />
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" th:field="*{password}" required />
            </label>
            <p class="forgot-pass"><a href="/forgot-password">Forgot password?</a></p>
            <div>
                <label for="rememberme">Remember me</label>
                <input type="checkbox" id="rememberme" name="rememberme">
            </div>
            <button type="submit" class="submit">Sign In</button>

        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h3>Don't have an account? Please Sign up!</h3>
            </div>
            <div class="img__text m--in">
                <h3>If you already have an account, just sign in.</h3>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>
        <div class="form sign-up" id = "SignUpForm">
            <h2>Create your Account</h2>
            <form th:action="@{/register}" th:object="${registerUser}" method="post" enctype="multipart/form-data">
                <label>
                    <span>Username</span>
                    <input type="text" th:field="*{username}" required />
                    <small class="error" th:errors="*{username}" />
                </label>
                <label>
                    <span>First Name</span>
                    <input type="text" th:field="*{firstName}" required />
                    <small class="error" th:errors="*{firstName}" />
                </label>
                <label>
                    <span>Last Name</span>
                    <input type="text"  th:field="*{lastName}" required />
                    <small class="error" th:errors="*{lastName}" />
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" th:field="*{email}" required />
                    <small class="error" th:errors="*{email}" />
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" th:field="*{password}" id="password" required />
                    <small class="error" th:errors="*{password}" />
                </label>
                <label>
                    <span>Photo URL</span>
<!--                    <input type="text" th:field="*{photoURL}" value="photo URL"/>-->
                </label>
                <label class="text-white font-weight-bold" for="imageUrl">
                    <input id="imageUrl"
                           th:field="*{photoURL}"
                           th:errorclass="is-invalid"
                           type="file" class="form-control"
                           placeholder="Put profile image here"  accept="image/png, image/jpeg">
                </label>

                <p class="invalid-feedback errors alert alert-danger">
                    Image is optional.
                </p>
                </br>
                <img id="thumbnail" alt="Image Preview"/>

                <button type="submit" class="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>


<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var cont = document.querySelector('.cont');
        var imgBtn = document.querySelector('.img__btn');

        imgBtn.addEventListener('click', function() {
            cont.classList.toggle('s--signup');
        });

        var showSignUp = false;
        if (showSignUp) {
            cont.classList.add('s--signup');
        }
    });
</script>

</body>
</html>